{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Bienvenue sur le site de préparation scolaire !</h1>
<p>Ce site vous aidera à préparer vos examens et à améliorer vos compétences dans différentes matières</p>
{% endblock %}
