<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SchoolPrepar{% endblock %}</title>
</head>
<body>

<nav>
    <a href="/">Accueil</a>
    <a href="/filiere">Filiere</a>
</nav>

<hr>

{% block body %}{% endblock %}

</body>
</html>